body {
    display: flex;
    flex-direction: column;
}

/* the header */
.header {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
}

.inputbutton {
    height: 30px;
    margin-bottom: 10px;
}


/*the content*/
.content {
    min-width: 80%;
    max-width: 83%;
    align-self: center;
    display: flex;
}

.panel {
    background-color: rgb(95, 130, 160);
    flex-grow: 2;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.panel button {
    height: 10%
}

.adjustbar{
    background-color: orange;
    flex-grow: 1;
    max-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.sliderwrapper {
    background-color: azure;
    
}

.gridNumber {
    height: 30px;
    background-color: antiquewhite;
    transform: rotate(-90deg);
    width: 300%
}

.boardpart{
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    flex-grow: 1;
    max-width: 70%;
    align-items: center;
}

.board {
    background-color: aquamarine;
    width: 45vw;
    height: 45vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    display: grid;
}

.boardsquare {
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: #ddd solid 0.01px;
}

.pixelizedsquare {
    background-color:rgb(18, 36, 51);
}

